<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/style.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style type="text/css">
  .container {
  margin: 0;
  position: relative;
}

/* Bottom left text */

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
</style>
</head>

<body>


    <div class="container">
  <img src="{% static "images/chole.jpg" %}" alt="Snow" style="width:140%;">
  <div class="top-left">
    <h2>About Us</h2>
<br>
    <div class="aboutus">
        <h4><i>"Our mission is to elevate the quality of life for the urban consumer with
                unparalleled convenience.
                Convenience
                is what makes us tick. It's what makes us get out of bed and say,let's do this."
                
                "Bringing good food into your everyday. That's our mission.That means we don't just deliver--we bring it, always going the extra mile to make your experience
                memorable.And it means this is delicious food you can enjoy everyday: from vibrant salads for healthy office
                lunches, to indulgent family-sized pizzas, to fresh sushi for a romantic night in. Whatever you crave,
                we can help."</i>
        </h4>
            <div >
<br>
      <h2>Feedback</h2>
      <textarea style="height: 30vh; width:30vw;background-color: transparent;"></textarea>
<br>
<h4>      <button class="btn-primary" style="background-color: transparent;">Submit</button></h4>
    </div>

    </div>
  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>